{% extends '@contact-core/layout_backend.html.twig' %}
{% import '@contact-core/macros/form_classic.html.twig' as forms %}

{% block shoulder %}
	{{ "Paramétrages" }}
{% endblock shoulder %}

{% block title %}
	<i class="fas mr-2 link--icon fa-times"></i>
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('contact-assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('contact-assets/css/tingle.css') }}">
{% endblock %}

{% block main %}
	<div class="col-12 row m-0 p-0">
		<table class="col-12 table-bordered m-0 p-0 border-primary">
			<tr class="row col-12 m-0 p-1">
				<td class="col-4 table-secondary">Description</td>
				<td colspan="3" class="p-1 col-8">{{ parameter.getValeur() }}</td>
			</tr>
			<tr class="row col-12 m-0 p-1">
				<td class="col-4 table-secondary">Créée le</td>
				<td class="col-4">{{ parameter.getCreatedAt()|date("d/m/Y") }}</td>
				<td class="col-4 table-secondary">Modifiée le</td>
				<td class="col-4">
					{{ parameter.isEmptyUpdatedAt() ? "" : parameter.getUpdatedAt()|date("d/m/Y") }}
				</td>
			</tr>
		</table>

		<table class="col-12 m-0 p-0 table-bordered mt-2">
			<thead class="col-12 row m-0 p-0">
				<tr class="col-12 row m-0 p-0">
					<td class="col-2 m-0 py-0 px-1">Indice</td>
					<td class="col-10 m-0 py-0 px-1">Valeur</td>
				</tr>
			</thead>
			<tbody class="col-12 row m-0 p-0">
				{% for idx, param in parameterValues %}
					{% set val = param.getValeur() %}
					<tr class="col-12 row m-0 p-0">
						<td class="col-2 m-0 py-0 px-1">{{ idx }}</td>
						<td class="col-10 m-0 py-0 px-1">{{ val }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{{ forms.form_start("delete", { 'method': "POST", 'class': 'col-12 row my-3' }) }}
	{{ forms.btn('delList', "Supprimer la liste", {
            'class': 'btn btn-danger col-4 offset-1', 'bclass': 'btn btn-danger', 'type': 'submit',
			'event': 'onClick', 'codeJS': 'confirm()',
        }) }}
	{{ forms.btn('canList', "Annuler l'opération", {
            'class': 'btn btn-bs-warning col-4 offset-2', 'bclass': 'btn btn-bs-warning', 'type': 'submit',
			'event': 'onClick', 'codeJS': 'cancel()',
        } ) }}
	{{ forms.form_end() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('contact-assets/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('contact-assets/js/tingle.js') }}"></script>

	<script>
		let modal = new tingle.modal({
			footer: true,
			stickyFooter: false,
			closeMethods: ['button'],
			closeLabel: "Close",
			cssClass: ['custom-class-1', 'custom-class-2'],
			beforeClose: function() {
				return true; // close the modal
				return false; // nothing happens
			}
		});
		modal.setContent('<h1>Etes-vous sûr de vouloir supprimer la liste de paramètres</h1>');
		modal.addFooterBtn('OUI', 'tingle-btn tingle-btn--danger col-5', function() {
			document.querySelector('form').submit();
		});
		modal.addFooterBtn('NON', 'tingle-btn tingle-btn--warning col-5 tingle-btn--pull-right', function() {
			modal.close();
		});

		function confirm() {
			modal.open();
		}

		function cancel() {
			location.href = "{{ path('parameters-params-list') }}";
		}
	</script>
{% endblock %}

