{% extends '@contact-core/layout_backend.html.twig' %}
{% import '@contact-core/macros/form_classic.html.twig' as forms %}

{% block shoulder %}
	{{ "Paramétrages" }}
{% endblock shoulder %}

{% block title %}
	<i class="fas mr-2 link--icon fa-times"></i>
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block main %}
	<div class="col-12 row m-0 p-0">
		<table class="col-12 table-bordered m-0 p-0 border-primary">
			<tr class="row col-12 m-0 p-1">
				<td class="col-4 table-secondary">Description</td>
				<td colspan="3" class="p-1 col-8">{{ parameter.getValeur() }}</td>
			</tr>
			<tr class="row col-12 m-0 p-1">
				<td class="col-4 table-secondary">Créée le</td>
				<td class="col-4">{{ parameter.getCreatedAt()|date("d/m/Y") }}</td>
				<td class="col-4 table-secondary">Modifiée le</td>
				<td class="col-4">
					{{ parameter.isEmptyUpdatedAt() ? "" : parameter.getUpdatedAt()|date("d/m/Y") }}
				</td>
			</tr>
		</table>

		<table class="col-12 m-0 p-0 table-bordered mt-2">
			<thead class="col-12 row m-0 p-0">
				<tr class="col-12 row m-0 p-0">
					<td class="col-2 m-0 py-0 px-1">Indice</td>
					<td class="col-10 m-0 py-0 px-1">Valeur</td>
				</tr>
			</thead>
			<tbody class="col-12 row m-0 p-0">
				{% for idx, param in parameterValues %}
					{% set val = param.getValeur() %}
					<tr class="col-12 row m-0 p-0">
						<td class="col-2 m-0 py-0 px-1">{{ idx }}</td>
						<td class="col-10 m-0 py-0 px-1">{{ val }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

    <div id="confirm-delete" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                    <h3>Suppression d'une liste</h3>
                </div>
                <div class="modal-body">
                    <p>Etes-vous bien sûr ?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" id="btnYes" class="btn btn-danger">Oui</a>
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-bs-warning">Nom</a>
                </div>
            </div>
        </div>
    </div>

    {{ forms.form_start("delete", { 'method': "POST", 'class': 'col-12 row' }) }}
        {{ form.btn('delete', "Supprimer la liste", {
            'class': 'btn btn-danger col-4 offset-1', 'bclass': 'btn btn-danger', 'type': 'submit',
        }) }}
        {{ form.btn('cancel', "Annuler l'opération", {
            'class': 'btn btn-bs-warning col-4 offset-2', 'bclass': 'btn btn-bs-warning', 'type': 'submit',
        } ) }}
    {{ forms.form_stop() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

    <script>
        document.querySelector("#delete").addEventListener('click', btn => {
            modalMODAL.show();
        });

        document.querySelector("btnYes").addEventListener('click', btn => {
            form.submit();
        });

        document.addEventListener(DOMContentLoaded, function() {
            let modalHTML = document.querySelector("#confirm-delete")
            let modalMODAL = new bootstrap.Modal(modalHTML, {
                keyboard: false,
                focus: false;
            });
        })
    </script>
{% endblock %}

