{% extends '@contact-core/layout_backend.html.twig' %}

{% block shoulder %}
	{{ "Paramétrages" }}
{% endblock shoulder %}

{% block title %}
	<i class="fas mr-2 link--icon fa-times"></i>
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block main %}
    <div class="col-12 row m-0 p-0">
        <div class="col-12 row m-0 p-0">
            <span class="col-2 my-1">Description</span>
            <span class="col-10 my-1">{{ parameter.getValeur() }}</span>
        </div>
        <div class="col-12 row m-0 p-0">
            <div class="col-6 row my-1">
                <span class="col-4">Créée le</span>
                <span class="col-8">{{ parameter.getCreatedAt()|date("d/m/Y") }}</span>
            </div>
            <div class="col-6 row my-1">
                <span class="col-4">Modifiée le</span>
                <span class="col-8">{{ parameter.getUpdatedAt()|date("d/m/Y") }}</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
