{% extends '@contact-core/layout_backend.html.twig' %}
{% import '@contact-core/macros/form_type.html.twig' as fields %}
{% import '@contact-core/macros/generals.html.twig' as generals %}
{% import '@contact-core/macros/form.js.twig' as formJS %}
{% import "@contact-core/macros/upload_files.html.twig" as updFiles %}

{% block shoulder %}
	{{ "Paramétrages" }}
{% endblock shoulder %}

{% block title %}
	<i class="fas mr-2 link--icon fa-building"></i>
	Mes Informations de base
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('contact-assets/css/dropzone.css') }}"/>
	<link rel="stylesheet" href="{{ asset('contact-assets/css/dragNDrop.css') }}">
	<link rel="stylesheet" href="{{ asset('contact-assets/css/drag_drop_file.css') }}">
{% endblock %}

{% block main %}
	{{ form_start(form, {'action': path('parameters-info-structure'), 'method': 'POST'}) }}
		{{ form_row(form._token) }}
		{% set errors = formErrors(form) %}
		{% if errors|length %}
			<ul class="errors-form col12 row px-0 mx-0">
				{% for champ, erreur in errors %}
					<li class="error-line col-12 text-xs">
						champ <strong>{{ champ }}</strong> : {{ erreur }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		<div class="col-12 mt-2 row px-0 mx-0">
			{{ fields.field(form.designation, "", {
				'class': 'col-12 mb-2 mx-0 ps-0 pe-1', 'placeholder': 'Votre désignation commerciale',
				'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-8 text-sm'},
			}) }}
		</div>
		<div class="col-12 mt-2 row px-0 mx-0">
			{{ fields.field(form.siren, "", {
				'class': 'col-6 mb-2 mx-0 ps-0 pe-1', 'placeholder': 'Votre SIREN',
				'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-8 text-sm'},
			}) }}
			{{ fields.field(form.siret, '', {
				'class': 'col-6 mb-2 mx-0 pe-0 ps-1', 'placeholder': 'Votre SIRET',
				'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-8 text-sm'}
			}) }}
		</div>
		<div class="col-12 mt-2 row px-0 mx-0">
			{{ fields.field(form.courriel, "", {
				'class': 'col-6 mb-2 mx-0 ps-0 pe-1', 'placeholder': 'Votre adresse courriel globale',
				'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-8 text-sm'},
			}) }}
			{{ fields.field(form.reponse, '', {
				'class': 'col-6 mb-2 mx-0 pe-0 ps-1', 'placeholder': 'Votre adresse courriel de réponse',
				'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-8 text-sm'}
			}) }}
		</div>
		<div class="col-12 mt-2 row px-0 mx-0">
			{{ fields.field(form.telephone, "", {
				'class': 'col-6 mb-2 mx-0 ps-0 pe-1', 'placeholder': 'Votre Téléphone',
				'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-8 text-sm'},
			}) }}
			{#
			{{ fields.dragNDrop(form.logo, {
				'label': 'Déposez-Glissez votre logo','maxFiles': 1,
				'accept': acceptFiles,'url': path("parameters-upload-logo"),
				'maxSize': '4096k', 'removeBtn': true, 'viewxBtn': true, 'hidden_name': 'logoID',
				'initial_data': logoDB
			}) }}
			#}

			{{ fields.dragNDrop2(form.logo, {
				label: 'Déposez-Glissez votre logo', maxFiles: 1,
				accept: acceptFiles, routeController: 'parameters-upload-logo', progressbar: true,
				maxSize: '4096k', removeBtn: true, viewxBtn: true, preview: true,
			}) }}

			{# 'initial_data': logoDB,
				'label_class': 'col-4 px-2 text-sm', 
                'multiple': false, 'progressbar': true, 'gallery': true,
			!#}

		</div>
		<div class="col-12 row mt-2 px-0 mx-0">
			{{ fields.submitbtn(form.record, "", {
				'class': 'col-4 offset-1 text-white gradient text-center btn btn-success',
			}) }}
			{{ generals.btnRedirect('cancel', "Tout annuler", {
				'class': 'col-4 offset-2 btn btn-bs-warning p-0', 'bclass': 'btn btn-bs-warning', 'route': 'bolt_dashboard'
			}) }}
		</div>
	{{ form_end(form, {render_rest: false}) }}
	<div class="col-12 mt-2 text-right text-gray-600 px-0 mx-3">
		* champs obligatoires
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{#
	<script src="{{ asset('contact-assets/js/dropzone.js') }}"></script>
	<script src="{{ asset('contact-assets/js/dragNDrop.js') }}"></script>
	#}
	{{ updFiles.jsFunc_dropzone({
		'routeController': "parameters-upload-logo",
		'dropArea': form.logo.vars.id,
		'preview': true,
		'progressbar': true,
	}) }}
	{{ updFiles.jsInit_dropzone() }}
{% endblock %}
