{% extends '@contact-core/layout_backend.html.twig' %}
{% import '@contact-core/macros/form_type.html.twig' as fields %}
{% import '@contact-core/macros/generals.html.twig' as generals %}
{% import '@contact-core/macros/form.js.twig' as formJS %}
{% import "@contact-core/macros/upload_files.html.twig" as updFiles %}
{% import "@contact-core/macros/show_toast.js.twig" as toasts %}

{% block shoulder %}
	{{ "Paramétrages" }}
{% endblock shoulder %}

{% block title %}
	<i class="fas mr-2 link--icon fa-building"></i>
	Mes Informations de base
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('contact-assets/css/drag_drop_file.css') }}">
{% endblock %}

{% block main %}
	{{ form_start(form, {'action': path('parameters-info-structure'), 'method': 'POST'}) }}
		{{ form_row(form._token) }}
		{% set errors = formErrors(form) %}
		{% if errors|length %}
			<ul class="errors-form col12 row px-0 mx-0">
				{% for champ, erreur in errors %}
					<li class="error-line col-12 text-xs">
						champ <strong>{{ champ }}</strong> : {{ erreur }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		<div class="col-12 mt-2 row px-0 mx-0">
			{{ fields.field(form.designation, "", {
				'class': 'col-12 mb-2 mx-0 ps-0 pe-1', 'placeholder': 'Votre désignation commerciale',
				'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-8 text-sm'},
			}) }}
		</div>
		<div class="col-12 mt-2 row px-0 mx-0">
			{{ fields.field(form.siren, "", {
				'class': 'col-6 mb-2 mx-0 ps-0 pe-1', 'placeholder': 'Votre SIREN',
				'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-8 text-sm'},
			}) }}
			{{ fields.field(form.siret, '', {
				'class': 'col-6 mb-2 mx-0 pe-0 ps-1', 'placeholder': 'Votre SIRET',
				'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-8 text-sm'}
			}) }}
		</div>
		<div class="col-12 mt-2 row px-0 mx-0">
			{{ fields.field(form.courriel, "Votre adresse Courriel de Contact", {
				'class': 'col-6 mb-2 mx-0 ps-0 pe-1', 'placeholder': 'Votre adresse courriel globale',
				'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-8 text-sm'},
			}) }}
			{{ fields.field(form.reponse, "Votre adresse Courriel de Réponset", {
				'class': 'col-6 mb-2 mx-0 pe-0 ps-1', 'placeholder': 'Votre adresse courriel de réponse',
				'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-8 text-sm'}
			}) }}
		</div>
		<div class="col-12 mt-2 row px-0 mx-0">
			<div class="col-6 row px-0 mx-0 mb-2">
				{{ fields.field(form.telephone, "", {
					'class': 'col-12 mx-0 ps-0 pe-1', 'placeholder': 'Votre Téléphone',
					'il_class': {'label': 'col-4 px-2 text-sm', 'input': 'col-8 text-sm'},
				}) }}

				<div class="col-12 mx-0 row">
					{# tableau des horaires d'ouveture - accessibilité #}
					{#
						-> tableau ayant pour clé les jours de la semaine
						-> md, mf, sd, sf heures de début/fin matin/soir 
					#}
					<h3 class="col-12 text-center">Horaires d'ouvertures</h3>
						<div class="jour col-12 mx-0 px-0 row">
							<div class="col-2">Jour</div>
							<div class="col-4 text-center">Matin</div>
							<div class="col-4 text-center">Après-Midi</div>
							<div class="col-2 text-center">Fermé</div>
						</div>
					{% for jour, hours in ouverture %}
						{% set ferme = (hours.md is empty) and (hours.mf is empty) and (hours.sd is empty) and (hours.sf is empty) %}
						<div class="jour col-12 mx-0 px-0 row">
							<div class="col-2">{{ jour }}</div>
							<div class="hmd col-2 mx-0 px-0 text-center">
								<input type="time" name="horaires[{{ jour }}][md]" value="{{ hours.md }}" {% if ferme %}disabled{% endif %}>
							</div>
							<div class="hmf col-2 mx-0 px-0 text-center">
								<input type="time" name="horaires[{{ jour }}][mf]" value="{{ hours.mf }}" {% if ferme %}disabled{% endif %}>
							</div>
							<div class="hsd col-2 mx-0 px-0 text-center">
								<input type="time" name="horaires[{{ jour }}][sd]" value="{{ hours.sd }}" {% if ferme %}disabled{% endif %}>
							</div>
							<div class="hsf col-2 mx-0 px-0 text-center">
								<input type="time" name="horaires[{{ jour }}][sf]" value="{{ hours.sf }}" {% if ferme %}disabled{% endif %}>
							</div>
							<div class="hf col-2 mx-0 px-0 text-center">
								<input type="checkbox" name="horaires[{{ jour }}][ferme]" id="{{ jour }}-ferme" {% if ferme %}checked{% endif %}>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			{{ fields.dragNDrop2(form.logo, {
				label: 'Déposez-Glissez votre logo', maxFiles: 1,
				accept: acceptFiles, routeController: 'parameters-upload-logo', progressbar: false,
				maxSize: '4096k', removeBtn: true, viewxBtn: true, preview: true, 'initial_datas': logoDB,
				hidden_name: form.logoID.vars.id
			}) }}
			{{ fields.hidden(form.logoID, {
				'value': logoID,
			}) }}
		</div>
		<div class="col-12 row mt-2 px-0 mx-0">
			{{ fields.submitbtn(form.record, "", {
				'class': 'col-4 offset-1 text-white gradient text-center btn btn-success',
			}) }}
			{{ generals.btnRedirect('cancel', "Tout annuler", {
				'class': 'col-4 offset-2 btn btn-bs-warning p-0', 'bclass': 'btn btn-bs-warning', 'route': 'bolt_dashboard'
			}) }}
		</div>
	{{ form_end(form, {render_rest: false}) }}
	<div class="col-12 mt-2 text-right text-gray-600 px-0 mx-3">
		* champs obligatoires
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ updFiles.jsFunc_dropzone({
		routeController: "parameters-upload-logo", dropArea: form.logo.vars.id,
		preview: true, progressbar: false, iconSide: 'BR',
	}) }}
	{{ updFiles.jsInit_dropzone({
		preview: true, iconSide: 'BR',
	}) }}
	{% include "@contact-core/includes/_show_toast.html.twig" %}

	<script>
		function toggleCloseOpen(event) {
			let day = event.target.parentNode.parentNode;
			let hours = day.querySelectorAll('input[type=time]');
			hours.forEach((hour) => {
				if (event.target.checked == 1) {
					hour.disabled = true;
				} else {
					hour.disabled = false;
				}
			});
		}

		document.querySelectorAll('.hf input').forEach((ferme) => {
			ferme.addEventListener('click', function (evt) {
				toggleCloseOpen(evt);				
			});
		});

		document.addEventListener("DOMContentLoaded", function(event) {
			{{ toasts.show_toast(errors) }}
		});
	</script>
{% endblock %}
