
{# macro datetimepickerForm : affichage d'un champ de sélection de date et heure #}
{# - name           : identifiant et name déclaré pour le formulaire #}
{# - label          : label ou libellé à afficher dans le bouton, par défaut celui du Form #}
{# dans le tableau args #}
{# - class          : classe CSS à appliquer #}
{# - date_min       : date minimale pouuvant être choisie #}
{# - disabled       : booléen d'activation (false) ou désactivation (true) du bouton de soumission #}
{# - date_date      : valeur initiale du choix de la date #}
{# - label_ico      : booléen précisant la présence d'icône (true) ou non (false) devant la date et l'heure #}
{% macro datetimepickerForm(name, label="", args={}) %}
    {% set class = args.class ?? '' %}
    {% set date_min = args.date_min is defined and args.date_min is not empty ? args.date_min : "" %}
    {% set disabled = args.disabeled is defined ? (args.disabled ? true : false) : false %}
    {% set label_ico = args.label_ico is defined ? (args.label_ico ? true : false) : false %}

    {% set date_date = args.date_date is defined ? args.date_date : "" %}
    {% if date_date is not empty %}
        {% if date_date is typeOf('array') %}
            {% set date = date_date %}
            {% set date_date = "%04d"|format(date.year) ~"-"~ "%02d"|format(date.month) ~"-"~ "%02d"|format(date.day) %}
        {% endif %}
    {% endif %}

    <div class="dayeyimepicker-group{% if class is not empty %} {{ class }}{% endif %}">
        {# datepicker : name+'Datepicker' #}
        <label for="{{ name }}Datepicker">
            {% if label_ico %}
                <i class="fa fa-calendar"></i>
            {% endif %}
        </label>
        <input id="{{ name }}Datepicker" name="{{ name }}Datepicker" type="text" class="datepicker-input"
            {% if date_min|length %} data-date-min="{{ date_min }}" {% endif %}
            {% if date_date != "0000-00-00" and date_date is not empty %} data-date="{{ date_date }}" {% endif %}
            {% if title|length %} title="{{ title }}" data-title="{{ title }}" {% endif %}
            {% if disabled %} disabled="disabled" {% endif %}>
            <input type="hidden" id="{{ name }}DatepickerHidden" class="hidden" 
                {% if date_date is not empty %} value="{{ date_date }}" {% endif %}>
        {# timepicker : name+'Timepicker' #}
        <label for="{{ name }}">
            {% if label_ico %}
                <i class="fa fa-clock"></i>
            {% endif %}
        </label>
        <div class="timepicker-ui">
            <input id="{{ name }}Timepicker" name="{{ name }}Timepicker" type="text"
                class="timepicker-ui-input"/>
        </div>
    </div>
{% endmacro %}

{# macro datetimepickerField : affichage d'un champ de sélection de date et heure #}
{# - field          : champ date déclaré dans le formulaure Symfony Form #}
{# - label          : label ou libellé à afficher dans le bouton, par défaut celui du Form #}
{# dans le tableau args #}
{# - class          : classe CSS à appliquer #}
{# - date_min       : date minimale pouuvant être choisie #}
{# - disabled       : booléen d'activation (false) ou désactivation (true) du bouton de soumission #}
{# - date_date      : valeur initiale du choix de la date #}
{# - label_ico      : booléen précisant la présence d'icône (true) ou non (false) devant la date et l'heure #}
{% macro datetimepickerField(field, label="", args={}) %}
    {% set field_id = field.vars.id %}
    {% set class = args.class ?? '' %}
    {% set date_min = args.date_min is defined and args.date_min is not empty ? args.date_min : "" %}
    {% set disabled = args.disabeled is defined ? (args.disabled ? true : false) : false %}
    {% set label_ico = args.label_ico is defined ? (args.label_ico ? true : false) : false %}

    {% set date_date = args.date_date is defined ? args.date_date : "" %}
    {% if date_date is not empty %}
        {% if date_date is typeOf('array') %}
            {% set date = date_date %}
            {% set date_date = "%04d"|format(date.year) ~"-"~ "%02d"|format(date.month) ~"-"~ "%02d"|format(date.day) %}
        {% endif %}
    {% endif %}

    <div class="datetimepicker-group{% if class is not empty %} {{ class }}{% endif %}">
        {# datepicker : field.vars.id+'Datepicker' #}
        <label for="{{ field_id }}Datepicker">
            {% if label_ico %}
                <i class="fa fa-clock"></i>
            {% endif %}
        </label>
        <input id="{{ field_id }}Datepicker" name="{{ field_id }}Datepicker" type="text" class="datepicker-input"
            {% if date_min|length %} data-date-min="{{ date_min }}" {% endif %}
            {% if date_date != "0000-00-00" and date_date is not empty %} data-date="{{ date_date }}" {% endif %}
            {% if title|length %} title="{{ title }}" data-title="{{ title }}" {% endif %}
            {% if disabled %} disabled="disabled" {% endif %}>
        <input type="hidden" id="{{ field_id }}DatepickerHidden" class="hidden"
            {% if date_date is not empty %} value="{{ date_date }}" {% endif %}>
        {# timepicker : field.vars.id+'Timepicker' #}
        <label for="{{ name }}">
            {% if label_ico %}
                <i class="fa fa-clock"></i>
            {% endif %}
        </label>
        <div class="timepicker-ui">
            <input id="{{ name }}Timepicker" name="{{ name }}Timepicker" type="text" class="timepicker-ui-input"/>
        </div>
    </div>
{% endmacro %}