
{# macro btnRedirect : bouton cliquable pour redirection vers page #}
{# - name       : idetifiant - nom du bouton dans l'arbre DOM</idetifi> #}
{# - label      : texte à afficher dans le corps du bouton #}
{# dans le tableau args #}
{# - class      : calsse(s) CSS à appliquer au bouton (externe div container) #}
{# - bclass     : calsse(s) CSS à appliquer au bouton (interne bouton proprement dit) #}
{# - title      : tooltip - popovrt à afficher au survazl du bouton #}
{# - route      : route Symfony pour génération URL de redirection #}
{# - params     : tableau de clé -> valeur servant de paramètre à la génération de l'URL de redirection #}
{# - target     : cible HTML de l'ouverture de kien de redirection, par défaut : la la même fenêtre ou même onglet #}
{% macro btnRedirect(name, label="", args={}) %}
    {% set class = args.class is defined ? args.class : "btn btn-default" %}
    {% set bclass = args.bclass is defined ? args.bclass : "" %}
    {% set title = args.title is defined ? args.title : "" %}
    {% set route = args.route is defined ? args.route : "" %}
    {% set params = args.params is defined ? args.params : {} %}
    {% set target = args.target is defined ? args.target : '_self' %}

    {% if 'col-' not in class %}
        {% set class = class ~ " col-12" %}
    {% endif %}

    {% set attributes %}
        {% if bclass|length %} class="{{ bclass }}" {% endif %}
        {% if title|length %} title="{{ title }}" {% endif %}
    {% endset %}

    {% set href = route|length ? path(route, params) :"#" %}
    <div {% if class is not empty %}class="{{ class }}"{% endif %}>
        <button id="{{ name }}" type="button" {{ attributes|raw }} onclick="window.open('{{ href }}', '{{ target }}')">
            {{ label|raw }}
        </button>
    </div>
{% endmacro %}

{# à réécrire hors contexte Wordpress 
{% macro render_menu(menu_array, main_nav) %}
    {% import _self as self %}
    {% for route, menu in menu_array %}
        {% set main_nav = main_nav ~ '<li class="menu-item' %}
        {% if 'children' in menu|keys %}
            {% set main_nav = main_nav ~ ' menu-item_has_children' %}
        {% endif %}
        {% if route == app.request.get('_route') %}
            {% set main_nav = main_nav ~ ' current-menu-item' %}
        {% endif %}
        {% set main_nav = main_nav ~ '">' %}
        {% if route == 'logout' %}
            {% set main_nav = main_nav ~ '<a href="'~fn('wp_logout_url')|raw~'">' %}
        {% elseif route == 'admin_url' %}
            {% set main_nav = main_nav ~ '<a href="'~fn('admin_url')|raw~'">' %}
        {% elseif route is startWith('none') %}
            {% set main_nav = main_nav ~ '<a href="#">' %}
        {% elseif route is not empty %}
            {% set main_nav = main_nav ~ '<a href="'~path(route)~'">' %}
        {% endif %}
        {% set main_nav = main_nav ~ (menu.label is defined and menu.label is not empty ? menu.label : "") %}
        {% if route is not empty %}
            {% set main_nav = main_nav ~ '</a>' %}
        {% endif %}
        {% if 'children' in menu|keys %}
            {% set main_nav = main_nav ~ '<ul class="children">' %}
            {% set main_nav %}
                {{ self.render_menu(menu.children, main_nav) }}
            {% endset %}
            {% set main_nav = main_nav ~ '</ul>' %}
        {% endif %}
        {% set main_nav = main_nav ~ '</li>' %}
    {% endfor %}
    {{ main_nav|raw }}
{% endmacro %}
#}

{# macro date : reformatage de valeur type date #}
{# - field      : champ ou contenant d'un champ date à afficher #}
{# - format     : chaîne de caractères précisant le format de sortie (type format de DateTime) #}
{% macro date(field, format) %}
    {% set dte = field %}
    {% if field is typeOf('array') %}{% set dte = field.date %}{% endif %}
    {% if format is empty %}
        {% set format = "d M Y" %}
    {% endif %}
    {{ dte|date(format) }}
{% endmacro %}

{# macro btn : bouton cliquable avec exécution de code sur événement #}
{# - name           : idetifiant - nom du bouton dans l'arbre DOM</idetifi> #}
{# - label          : texte à afficher dans le corps du bouton #}
{# dans le tableau args #}
{# - class          : calsse(s) CSS à appliquer au bouton (externe div container) #}
{# - title          : tooltip - popovrt à afficher au survazl du bouton #}
{# - event, codeJS  : #}
{#          définition de l'événement et du code Javascript à exécuter #}
{#          - event     : événement sous la forme 'on'+event ex Click #}
{#          - codeJS    : code ou fonction JavaScript à exécuter #}
{# - datasets       : tableau de clé -> valeur pour génération des attributs data-* #}
{% macro btn(name, label="", args={}) %}
    {% set class = args.class is defined ? args.class : "" %}
    {% set title = args.title is defined ? args.title : "" %}
    {% set datasets = args.datasets is defined ? args.datadates : {} %}
    {% set event = args.event is defined ? args.event : "" %}
    {% set codeJS = args.codeJS is defined ? args.codeJS : "" %}

    {% set attributes %}
        {% if class|length %} class="{{ class }} {% endif %}
        {% if event is defined and event is not empty and codeJS is defined and codeJS is not empty %}
        {{ event }}="{{ codeJS }}"
        {% endif %}
        {% if title|length %} title="{{ title }} {% endif %}
        {% if datasets is defined and datasets is not empty %}
        {% for cle, val in datasets %}
        data-{{ cle }}="{{ val }}"
        {% endfor %}
        {% endif %}
    {% endset %}

    <button id="{{ name }}" {{ attributes|raw }}>{{ label|raw }}</button>
{% endmacro %}
