{# Toast bootstrap 5 génération des message en base de page comme Windows #}
{# msgs     : tableau contenant les messages à afficher sous forme d'item #}
{# item : #}
{# title   : titre donné au message #}
{# type    : type donné au message (success, warning, info, danger #}
{# body    : texte proprement dit du message #}
{% macro toasts_html(args ={}) %}
    {% set msgs = args.msgs is defined ? args.msgs : {} %}

    <div class="toast-container">
        {% for msg in msgs %}
            {# <div class="toast" data-bs-autohide="false"> #}
            {# <div class="toast-header"> #}
            {# <strong class="my-0 me-auto text-{{ msg.type }} h6 fw-bold">{{ msg.title }}</strong> #}
            {# <button class="ms-2 mb-1 btn-close" data-bs-dismiss="toast" aria-label="Close"></button> #}
            {# </div> #}
            {# <div class="toast-body bg-light{{ msg.type }}">{{ msg.body }}</div> #}
            {# </div> #}
            <div class="toast-msg position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="..." class="rounded me-2" alt="...">
                        <strong class="me-auto text-">{{ msg.title }}</strong>
                        <small></small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ msg.body }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
