{% extends '@contact-core/layout_backend.html.twig' %}
{% import '@contact-core/macros/form_type.html.twig' as fields %}

{% block shoulder %}
	{{ "Paramétrages" }}
{% endblock shoulder %}

{% block title %}
	<i class="fas mr-2 link--icon fa-building"></i>
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{% include "@contact-core/includes/_droparea_css.html.twig" %}

	<style>
		form {
			width: 100% !important;
		}

		.hidden {
			display: none;
		}
	</style>
{% endblock %}

{% block main %}
	{% set urlForm = path('sys-params-socialnetworks-list') %}
	<div class="container col-12 row">
		<div class="col-7 list">
			<pre>
				{{ dump(paramsList) }}
			</pre>
		</div>
		<div class="col-5 form row">
			{{ form_start(form, {'action': urlForm, 'method': 'POST'}) }}
			{{ form_row(form._token) }}

			{{ fields.field(form.name, '', {
				'class': 'col-12 mx-0 px-0 mb-2',
				'il_class': {'label': 'col-4 mx-0 px-0', 'input': 'col-8 mx-0 px-0'}
			}) }}

			{{ fields.field(form.urlFavicon, 'Url de l\'icône', {
				'class': 'col-12 mx-0 px-0 mb-2 hidden',
				'il_class': {'label': 'col-4 mx-0 px-0', 'input': 'col-8 mx-0 px-0'}
			}) }}

			<div class="col-12 row" id="social_logo">
			{% include "@contact-core/includes/_droparea.html.twig" with {
				progressBar: social_progressBar,
				preview: social_preview,
				drop_id: social_logo_id,
			} %}
			</div>

			{{ fields.submitbtn(form.record, '', {
				'class': 'col-12 mx-0 px-0 btn-success',
			}) }}

			{{ form_end(form, {render_rest: false}) }}
			<div class="col-12 mt-2 text-right text-gray-600 px-0 mx-3">
				* champs obligatoires
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% include "@contact-core/includes/_droparea_js.html.twig" with {
		droparea_upload : social_logo_upload,
		progressBar: social_progressBar,
		preview: social_preview,
	} %}
{% endblock %}
