{% extends '@contact-core/layout_backend.html.twig' %}
{% import '@contact-core/macros/form_type.html.twig' as fields %}

{% block shoulder %}
	{{ "Paramétrages" }}
{% endblock shoulder %}

{% block title %}
	<i class="fas mr-2 link--icon fa-building"></i>
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block main %}
	{% set urlForm = path('socialnetworks-list') %}
	<div class="container">
		<div class="col-7 list"></div>
		<div class="col-5 form row">
			{{ form_start(form, {'action': urlForm, 'method': 'POST'}) }}
			{{ form_row(form._token) }}

			{{ fields.field(form.name, '', {
				'class': 'col-12',
			}) }}

			{{ fields.field(form.urlFavicon, '', {
				'class': 'col-12',
			}) }}

			<div class="iconPreview col-12"></div>

			{{ form_end(form, {render_rest: false}) }}
			<div class="col-12 mt-2 text-right text-gray-600 px-0 mx-3">
				* champs obligatoires
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
