{% extends '@contact-core/layout_backend.html.twig' %}
{% import '@contact-core/macros/form_type.html.twig' as fields %}
{% import "@contact-core/macros/upload_files.html.twig" as updFiles %}

{% block shoulder %}
	{{ "Paramétrages" }}
{% endblock shoulder %}

{% block title %}
	<i class="fas mr-2 link--icon fa-building"></i>
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('contact-assets/css/drag_drop_file.css') }}">

	<style>
		form {
			width: 100% !important;
		}

		.hidden {
			display: none;
		}

		.form-control {
			width: unset;
		}
	</style>
{% endblock %}

{% block main %}
	{% set urlForm = path('sys-params-socialnetworks-list') %}
	<div class="container col-12 row">
		<div class="col-7 list">
			<pre>
				{{ dump(paramsList) }}
			</pre>
		</div>
		<div class="col-5 form row">
			<h2 class="col-12 text-center">Ajoute le réseau social</h2>
			<hr class="col-12">
			{{ form_start(form, {'action': urlForm, 'method': 'POST'}) }}
			{{ form_row(form._token) }}

			{{ fields.field(form.name, '', {
				'class': 'col-12 mx-0 px-0 mb-2',
				'il_class': {'label': 'col-6 mx-0 px-0', 'input': 'col-6 mx-0 px-0'}
			}) }}

			{{ fields.dragNDrop2(form.logoID, {
				label: 'Déposez-Glissez le logo', maxFiles: 1,
				accept: acceptFiles, routeController: 'sys-params-socialnetworks-upload', progressbar: false,
				maxSize: '4096k', removeBtn: true, viewxBtn: true, preview: true, 'initial_datas': logoDB,
			}) }}

			{{ fields.submitbtn(form.record, '', {
				'class': 'col-12 mx-0 px-0 btn-success',
			}) }}

			{{ form_end(form, {render_rest: false}) }}
			<div class="col-12 mt-2 text-right text-gray-600 px-0 mx-3">
				* champs obligatoires
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ updFiles.jsFunc_dropzone({
		routeController: "parameters-upload-logo", dropArea: form.logoID.vars.id,
		preview: true, progressbar: false, iconSide: 'BR',
	}) }}
	{{ updFiles.jsInit_dropzone({
		preview: true, iconSide: 'BR',
	}) }}
	{% include "@contact-core/includes/_show_toast.html.twig" %}
{% endblock %}
