{% extends '@contact-core/layout_backend.html.twig' %}
{% import "@contact-core/macros/generals.html.twig" as generals %}
{% import '@contact-core/macros/form_type.html.twig' as fields %}
{% import '@contact-core/macros/form_classic.html.twig' as forms %}
{% import "@contact-core/macros/upload_files.html.twig" as updFiles %}

{% set preview = true %}
{% set iconSide = "BR" %}
{% set maxWidthImg = "150" %}

{% block shoulder %}
	{{ "Paramétrages" }}
{% endblock shoulder %}

{% block title %}
	<i class="fas mr-2 link--icon fa-building"></i>
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('contact-assets/css/drag_drop_file.css') }}">

	<style>
		form {
			width: 100% !important;
		}

		.hidden {
			display: none;
		}

		.form-control {
			width: unset;
		}

		input[type="file"] {
			display: none;
		}
	</style>
{% endblock %}

{% block main %}
	{% set urlForm = path('sys-params-socialnetworks-list') %}
	<div class="container col-12 row">
		<div class="col-7 list">
			{{ 
				forms.switchTextSides('toggle_status', false, {
					rtext: 'Voir tous les réseaux', ltext: 'Les reseaux paramétrés',
					lclass: 'col-4', rclass: 'col-4', class: "col-6",
					lbckgrd: "#00CC00", rbckgrd: "#CC0000", form: 'h', between: 1,
				})
			}}
			<div class="list_tab col-12 row">
			{% for paramList in paramsList %}
				{% if loop.first %}
				<div class="line_tab tabHeader col-12 row mx-0 px-0 border boder-dark py-1">
					<div class="logo col-2 mx-0 px-0 text-center"> Réseau</div>
					<div class="pUrl col-7 mx-0 px-0">Page</div>
					<div class="actions col-3 mx-0 px-0 text-center">Actions</div>
				</div>
				{% endif %}
				<div class="line_tab tabBody col-12 row mx-0 px-0 border boder-dark py-1">
					<div class="logo col-2 mx-0 px-0 text-center">
						<img src="{{ paramList.logo.preview_url }}" title="{{ paramList.name }}"> 
					</div>
					<div class="pUrl col-7 mx-0 px-0">{{ paramList.pUrl }}</div>
					<div class="actions col-3 mx-0 px-0 text-center">
					{% if paramList.updated is not empty %}
						{{ generals.btn('edt' ~ paramList.id, '<i class="fa fa-pen"></i>', {
							class:'col-5 btn btn-success p-0 m-0', title:'Editer la référence',
							bclass:'btn btn-success p-0 m-auto col-12', dataset: {'paramId': paramList.id},
							event: 'onClick', codeJS:'editRef(' ~ paramList.id ~')',
						}) }}
						{{ generals.btn('del' ~ paramList.id, '<i class="fa fa-trash"></i>', {
							class:'col-5 btn btn-warning row m-0 p-0', title:'Supprimer la référence',
							bclass:'btn btn-warning p-0 m-auto col-12', dataset: {'id': paramList.id},
							event: 'onClick', codeJS:'deltRef(' ~ paramList.id ~')',
						}) }}
					{% else %}
						{{ generals.btn('act' ~ paramList.id, '<i class="fa fa-cycle"></i>', {
							class:'col-5 btn btn-info p-0 m-0', title:'Réactiver la référence',
							bclass:'btn btn-success p-0 m-auto col-12', dataset: {'paramId': paramList.id},
							event: 'onClick', codeJS:'actvRef(' ~ paramList.id ~')',
						}) }}
					{% endif %}
					</div>
				</div>
			{% else %}
				<div class="line_tab tabHeader col-12 row mx-0 px-0 border boder-dark py-1">
					<div class="logo col-2 mx-0 px-0 text-center"> Réseau</div>
					<div class="pUrl col-7 mx-0 px-0">Page</div>
					<div class="actions col-3 mx-0 px-0 text-center">Actions</div>
				</div>
				<div class="line_tab tabBody col-12 mx-0 px-0 border boder-dark py-1 text-center">
					Pas encore de réseau social enregistré
				</div>
			{% endfor %}
			</div>
		</div>
		<div class="col-5 sn_form row">
			<h2 class="col-12 text-center">Ajouter le réseau social</h2>
			<hr class="col-12">
			{{ form_start(form, {'action': urlForm, 'method': 'POST'}) }}
			{{ form_row(form._token) }}

			{{ fields.field(form.name, '', {
				'class': 'col-12 mx-0 px-0 mb-2 sName',
				'il_class': {'label': 'col-6 mx-0 px-0', 'input': 'col-6 mx-0 px-0'}
			}) }}

			{{ fields.field(form.urlPage, '', {
				'class': 'col-12 mx-0 px-0 mb-2 sUrl',
				'il_class': {'label': 'col-6 mx-0 px-0', 'input': 'col-6 mx-0 px-0'}
			}) }}

			{{ fields.dragNDrop2(form.logoSN, {
				class: 'col-12 mx-0 px-0 mb-2 sLogo',
				label: 'Déposez-Glissez le logo', maxFiles: 1,
				accept: acceptFiles, routeController: 'sys-params-socialnetworks-upload', progressbar: false,
				maxSize: '4096k', removeBtn: true, viewxBtn: true, preview: true, 'initial_datas': logoDB,
				hidden_name: form.logoID.vars.id
			}) }}
			{{ fields.hidden(form.logoID, {
				'value': logoID,
			}) }}

			{{ fields.submitbtn(form.record, '', {
				'class': 'col-12 mx-0 px-0 btn-success',
			}) }}

			{{ form_end(form, {render_rest: false}) }}
			<div class="col-12 mt-2 text-right text-gray-600 px-0 mx-3">
				* champs obligatoires
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ updFiles.jsFunc_dropzone({
		routeController: "parameters-upload-logo", dropArea: form.logoID.vars.id,
		preview: preview, progressbar: false, iconSide: iconSide,
	}) }}
	{{ updFiles.jsInit_dropzone({
		preview: preview, iconSide: iconSide,
	}) }}

	<script>
		function showLogo(previewDiv, data) {
            var divPreview = document.createElement('div')
            var img = document.createElement('img')
            img.src = data.preview_url
            img.classList.add("gallery_img")
            img.style.width="{{ maxWidthImg }}px"
            {% if iconSide == "TL" or iconSide == "TR" %}
            img.style.top = '-1.76rem'
            {% endif %}
            divPreview.classList.add('img_preview')
            divPreview.classList.add('img-'+data.id)
            {% if iconSide == "TL" or iconSide == "TR" %}
            viewIcon.setAttribute("data-file-id", data.id)
            viewIcon.addEventListener('click', (e) => viewFile(e))
            divPreview.appendChild(viewIcon)
            deltIcon.setAttribute("data-file-id", data.id)
            deltIcon.addEventListener('click', (e) => deltFile(e))
            divPreview.appendChild(deltIcon)
            {% endif %}
            divPreview.appendChild(img)
            {% if iconSide != "TL" and iconSide != "TR" %}
            viewIcon.setAttribute("data-file-id", data.id)
            viewIcon.addEventListener('click', (e) => viewFile(e))
            divPreview.appendChild(viewIcon)
            deltIcon.setAttribute("data-file-id", data.id)
            deltIcon.addEventListener('click', (e) => deltFile(e))
            divPreview.appendChild(deltIcon)
            {% endif %}
            previewDiv.appendChild(divPreview)
		}
		
		function removeLogo(previewDiv, data) {
            var divPreview = document.querySelector('div.img-'+data.id)
			previewDiv.removeChild(dicPreview)
		}

		function editRef(id) {
			let url = "/bcknd/sys_params/socialnetworks_form/"+id
			let notif_area = document.querySelector(".admin__notifications")
            fetch(url, { method: "GET", }).then(function (response) {
				return response.json()
				}).then(function(reponse){
                show_toast(reponse.type, reponse.message, notif_area)
				let formular = document.querySelector(".sn_form")
				formular.querySelector('.sName input').value = reponse.name
				formular.querySelector('.sUrl input').value = reponse.urlPage
				showLogo(formular.querySelector(".gallery"), reponse.logoID)
            })
		}

		function deltRef(id) {
			let url = "/bcknd/sys_params/socialnetworks_delt/"+id
			let notif_area = document.querySelector(".admin__notifications")
			fetch(url, { method: "DELETE", }).then(function(response){
				return response.json()
			}).then(function(reponse){
                show_toast(reponse.type, reponse.message, notif_area)
				let formular = document.querySelector(".sn_form")
				formular.querySelector('.sName input').value = ""
				formular.querySelector(".sId input").value = 0
				removeLogo(formular.querySelector(".gallery"), reponse.sLogo)
			})
		}

		function actvRef(id) {
			let url = "/bcknd/sys_params/socialnetworks_actv/"+id
			let notif_area = document.querySelector(".admin__notifications")
			fetch(url, { method: "POST", }).then(function(response){
				return response.json()
			}).then(function(reponse){
                show_toast(reponse.type, reponse.message, notif_area)
				let formular = document.querySelector(".sn_form")
				formular.querySelector('.sName input').value = reponse.name
				formular.querySelector('.sUrl input').value = reponse.urlPage
				showLogo(formular.querySelector(".gallery"), reponse.logoID)
			})
		}

		function submitFormRef(evt) {
			evt.preventDefault
			evt.stopPropagation

			let url = "/bcknd/sys_params/socialnetworks_form"
			let formDatas = new FormData(evt.target)
			let previewDiv = evt.target.querySelector(".dragdrop .gallery .img_preview")
			let logoId = previewDiv.querySelector('i').dataset.fileId
			formDatas.append('logoId', logoId)
            fetch(url, { 
				method: "POST",
				headers: {'X-Requested-With': 'XMLHttpRequest'},
				body: formDatas
	  		}).then(function (response) {
            })
		}

		function createBtn(name, label = "",args = {}) {
			let classes = args.hasOwnProperty('class') ? args.classes : ""
			let title = args.hasOwnProperty('title') ? args.title : ""
			let datasets = args.hasOwnProperty('datasets') ? args.datasets : {}
			let event = args.hasOwnProperty('event') ? args.event : ""
			let codeJS = args.hasOwnProperty('codeJS') ? args.codeJS : ""
			let btn = document.createElement('button')
			btn.id = name
			btn.classList.add(classes.split(' '))
			if (label.length > 0) {
				btn.innerHTML = label
			}
			if (title.length > 0) {
				btn.title = title
			}
			if (datasets.length > 0) {
				Object.keys(datasets).forEach(function(key) {
					btn.setAttribute('data-'+ key, datasets[key])
				})
			}
			if (event.length > 0 && codeJS.length > 0) {
				btn.setAttribute(event, codeJS)
			}
			return btn
		}

		function noResult() {
			let divItem = document.createElement('div')
			divItem.classList.add('line_tab', 'tabBody', 'col-12', 'mx-0', 'px-0', 'border', 'boder-dark', 'py-1', 'text-center', 'tabBody')
			divItem.innerHTML = 'Pas encore de réseau social enregistré et actif'
			return divItem
		}

		function formatLine(item) {
			let divItem = document.createElement('div')
			divItem.classList.add('line_tab', 'tabBody', 'col-12', 'row', 'mx-0', 'px-0', 'border', 'border-dark', 'py-1')

			let divLogo = document.createElement('div')
			divLogo.classList.add('logo', 'col-2', 'mx-0', 'px-0', 'text-center')
			let imgLogo = documernt.createElement('img')
			imgLogo.src = item.logo.preview_url
			imgLogo.title = item.name
			divItem.appendChild(imgLogo)
			let divUrl = document.createElement('div')
			divUrl.classList.add('pUrl', 'col-7', 'mx-0', 'px-0')
			divUrl.innerHTML = item.pUrl
			divItem.appendChild(divUrl)
			let divActions = document.createElement('div')
			divActions.classList.add('actions', 'col-3', 'mx-0', 'px-0', 'text-center')
			let datasets = { 'paramId': paramList.id }
			let btnEArgs = {
				type: 'edt', id: item.id, ico: 'pen', classes: 'col-5 btn btn-success p-0 m-0',
				title:'Editer la référence',bclass:'btn btn-success p-0 m-auto col-12',
				event: 'onClick', codeJS:'editRef(' + paramList.id + ')', dataset: datasets
			}
			let btnedit = createBtn('edt' + item.id, '', btnEArgs)
			divActions.appendChild(btnedit)
			let btndelt = createBtn('del' + item.id, '', {
				type: 'del', id: item.id, ico: 'trash', classes: 'col-5 btn btn-warning row m-0 p-0',
				title:'Supprimer la référence',bclass:'btn btn-warning p-0 m-auto col-12',
				event: 'onClick', codeJS:'deltRef(' + paramList.id + ')', dataset: datasets
			})
			divActions.appendChild(btndelt)
			divItem.appendChild(divActions)
			return divItem
		}

		document.addEventListener('submit', function (event) {
			event.preventDefault()
			event.stopPropagation
			submitFormRef(event)
		})

		document.querySelector("#toggle_status").addEventListener('click', function(event){
			let notif_area = document.querySelector(".admin__notifications")
			// true => OFF, false = ON
			let url = "/bcknd/sys_params/socialnetworks_toggle/"+this.checked
            fetch(url, { method: "GET", }).then(function (response) {
				return response.json()
			}).then(function(reponse){
				show_toast(reponse.type, reponse.message, notif_area)
				// remplacement des lignes du tableau RéseauxSociaux par le retour de fonction
				// => suppresdsion de l'existant
				document.querySelectorAll(".tabBody").forEach(el => el.remove());
				let listTab = document.querySelector(".list_tab")
				// => création des lignes ou de la ligne si aucun résultat retourné
				let networkList = reponse.paramsList
				if (networkList.length == 0) {
					listTab.appendChild(noResult())
				} else {
					networkList.forEach(element => {
						listTab.appendChild(formatLine(element))
					});
				}
			})
		})

	</script>

	{% include "@contact-core/includes/_show_toast.html.twig" %}
{% endblock %}
