{% extends '@contact-core/layout_backend.html.twig' %}
{% import '@contact-core/macros/form_classic.html.twig' as forms %}
{% import "@contact-core/macros/paginate.html.twig" as navigate %}

{% block shoulder %}
	{{ "Liste des Courriels générés par l'application" }}
{% endblock shoulder %}

{% block title %}
	<i class="fas mr-2 link--icon fa-clipboard-question"></i>
	Liste des Courriels en base
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<style>
		.col-12 row .col-2 {
			width: 16.67%;
			float: left;
		}

		.col-12 row .col-4 {
			width: 33.33%;
			float: left;
		}

		.col-12 row.r-tbody,
		.col-12 row.r-thead {
			clear: both;
		}

		.r-table .r-tr .r-th {
			color: black;
			font-weight: bold;
			background-color: #dedede;
		}

		.r-table .r-tr .r-td {
			color: black;
			font-weight: normal;
			background-color: #ffffff;
		}
	</style>
{% endblock %}

{% block main %}
	<form method="post" id="select_mail" class="col-12 row">
		{{ forms.hidden('nav', nav) }}
		{{ forms.hidden('currentPage', currentPage) }}

		<div class="col-12 row">
			<h3 class="col-8 text-start">Liste des courriels en base</h3>
			{{ forms.select('Limit', 'Lignes par page', {
				'selection': limit,
				'datas': { 
					0: {'label': '10', 'value': 10}, 
					1: {'label': '20', 'value': 20}, 
					3: {'label': '50', 'value': 50} }
			}) }}
		</div>

		<div class="form-nav row col-12 my-3">
			<div class="ur-button-container col-6 text-center">
				{{ forms.btn('record_brouillon', 'Renvoyer les mails choisis',
                    {'class': 'btn btn-success',
                        'event': 'onClick',
                        'codeJS': "submit_form(2)"}) }}
			</div>
			<div class="ur-button-container col-6 text-center">
				{{ forms.btn('cancel', 'Retour au tableau de bord',
						{'class': 'btn btn-bs-warning',
                        'event': 'onClick',
                        'codeJS': "submit_form(99)"}) }}
			</div>
		</div>

		<div class="table-request col-12 row mb-3">
			<div class="col-12 row r-table">
				<div class="col-12 row r-thead">
					<div class="col-12 row r-tr py-1">
						<div class="col-1 text-center r-th"></div>
						<div class="col-1 text-center r-th">Créé le</div>
						<div class="col-4 text-start r-th px-2">Destinataire</div>
						<div class="col-4 text-start r-th px-2">Sujet</div>
						<div class="col-1 text-center r-th">Envoyé le</div>
						<div class="col-1 text-center r-th"></div>
					</div>
				</div>
				<div class="col-12 row r-tbody">
					{% for courriel in courriels %}
						<div class="col-12 row r-tr py-1">
							<div class="col-1 r-td">
								{% set checked = (courriel.getId() in choices|keys) %}
								{{ forms.checkbox(courriel.getId()~'choice', checked, {'class': 'text-center'}) }}
							</div>
							<div class="col-1 text-center r-td">{{ courriel.getCreatedAt()|date("d/m/Y") }}</div>
							<div class="col-4 text-start px-2 r-td">{{ courriel.getClient().getCourriel() }}</div>
							<div class="col-4 text-start px-2 r-td">{{ courriel.getSujet() }}</div>
							<div class="col-1 text-center p-0 r-td">{{ courriel.getSendAt() ?? "" }}</div>
							<div class="col-1 text-center r-td">
								{{ forms.btn('edit', '<i class="fa fa-print"></i>',
                            {'class': 'padding-0-02 prt-pj', 'bclass': 'bg-info',
                                'title': 'Imprimer le courriel', 'type': 'button', 'event': 'onClick',
                                'codeJS': 'printcourriel('~path('print_courriel', {'id': courriel.getId()})~');' }) }}
							</div>
						</div>
					{% else %}
						<div class="col-12 row r-tr py-1">
							<div class="col-12 r-td text-center">Pas de Courriel en Base</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{{ navigate.page_navigate({
        'currentPage': currentPage,
        'pages': pages,
        'prefix': 'r',
        'route': 'courriel_list',
        'class': 'col-12 row',
    }) }}
	</form>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('contact-assets/js/bootstrap.min.js') }}"></script>

	<script src="{{ asset('contact-assets/js/utilities_courriels.js') }}"></script>
	<script src="{{ asset('contact-assets/js/_paginate.js') }}"></script>
	<script src="{{ asset('contact-assets/js/_goPage.js') }}"></script>
{% endblock %}
